.highlight {
    position: relative;
    padding: 100px 50px;
    background: #111;
    border: 2px solid #333;
}

.highlight__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.highlight__title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.2;
    text-shadow: 2px 2px 2px rgba(0, 204, 255, 0.5);
}

.highlight__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    list-style: none;
}

.highlight__list .highlight__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    color: #c7c7c7;
    text-align: center;
    line-height: 1.2;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    animation: float 3s ease-in-out infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.highlight__list .highlight__item span {
    font-weight: 600;
    color: #fff;
}
  
  .highlight__list .highlight__item:hover {
    transform: translateY(-15px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  

@media (max-width: 480px) {  
    .highlight__title {
        font-size: 1.5rem;
    }
}