.benefits-section {
  position: relative;
  width: 100%;
  padding: 6rem 1.25rem;
  background: url('../../assets/Photo/benefits-bg.png') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.section-title {
  position: relative;
  width: 100%;
  max-width: 450px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-align: center;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards por linha */
  gap: 30px; /* Espaçamento entre os cards */
}

.benefit-card {
  background: #111;
  padding: 1.5rem; /* Diminui o padding dos cards */
  width: 100%;
  max-width: 440px; /* Diminui a largura máxima dos cards */
  height: auto;
  border: 2px solid #333;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.benefit-card:hover {
  transform: translateY(-5px);
}

.icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem; /* Diminui o tamanho do contêiner do ícone */
  height: 2.5rem;
  background: #111;
  border: 2px solid #333;
  border-radius: 50%;
  margin-bottom: 1.5rem; /* Diminui o espaçamento inferior do contêiner do ícone */
}

.icon-container .benefit-icon {
  width: 80%;
  height: auto;
}

.icon-container::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 30px;
  background: linear-gradient(to bottom, #333, #333, #333, rgba(51, 51, 51, 0));
  z-index: 1;
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-bottom: 10px;
}

.card-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #333, #333, #333, rgba(51, 51, 51, 0));
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.card-description {
  font-size: 1rem;
  color: #929292;
  line-height: 1.2;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .benefits-section {
    padding-top: 250px;
    padding: 4rem 1rem;
  }

  .section-title {
    font-size: 1rem;
  }

  .benefits-grid {
    grid-template-columns: 1fr; /* 1 card por linha */
  }

  .benefit-card {
    padding: 1.25rem; /* Ajusta o padding dos cards para telas menores */
  }

  .icon-container {
    width: 2.25rem; /* Ajusta o tamanho do contêiner do ícone para telas menores */
    height: 2.25rem;
  }

  .card-title {
    font-size: 1.25rem;
  }

  .card-description {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .benefits-section {
    padding-top: 250px;
    background: url('../../assets/Photo/benefits-bg-mobile.jpg') no-repeat center center;
    background-size: contain;
  }

  .section-title {
    font-size: 1.5rem;
    padding: 0 2rem;
  }

  .benefit-card {
    padding: 0.75rem; /* Diminui ainda mais o padding dos cards para telas menores */
    max-width: 300px; /* Diminui a largura máxima dos cards para telas menores */
  }

  .icon-container {
    width: 1.75rem; /* Diminui ainda mais o tamanho do contêiner do ícone para telas menores */
    height: 1.75rem;
  }

  .card-title {
    font-size: 0.875rem; /* Diminui o tamanho do título para telas menores */
  }

  .card-description {
    font-size: 0.75rem; /* Diminui o tamanho da descrição para telas menores */
  }
}